/* || general styles */

* {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  width: 100%;
  margin: 0;
}

h1, h2 {
  font-family: 'Faster One', cursive;
  background: linear-gradient(135deg, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
}

h1 {
  color:black;
  font-size: 4rem;
  text-align: center;
}

/* header styles */

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  color:#0B77BA;
}

/* section styles */

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
  text-align: center;
}

@media only screen and (min-width: 64rem) {
    
    section {
        
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 1em;
        margin: 10px;
        
    }
}
@media only screen and (max-width: 35em){
   section {
       display: grid;
       margin: 5px;
    
    }
}
@media only screen and (min-width: 35em) {
    section {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 1em;
        margin: 10px;
    }
}
 