@media only screen and (min-width: 800px) {
    
/* Header */

h1 {
    font-size: 2.5em;
}

div.motto {
    font-size: 1em;
}
    
/* Navigation */
    
.topnav a:not(:first-child) {display: block;}     
    
.topnav a.icon {
    display: none;
}

.topnav .active {
    color:#ffffff;
}
    
/* Main */

/* SLider with text */
    
.bozemanBiking {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-column-gap: 20px;
    align-items:center;
    align-content: center;
    }
    
.trailsText {
    font-size:1.2rem;    
    }
    
p.contact {
     font-size:1.5rem;
     margin:0;
    }
    
.topright {
     font-size:1.5rem;   
    }
    
.mySlides {
    width:100%;
    margin:auto;
    }

/* Pages links on images */

.pagesLinks figure {
    display:inline;
    margin-left:10%;
 }

.pagesLinks {
    margin-top:5%;    
 }

.linkImage {
    width:25%;
    margin:auto;  
}
    
/* Related activities */
    
.home h4 {
      font-size: 1.5rem;
      text-align: left;
}

 .relatedAct p {
     font-size: 1.5rem;   
    }
    
 .outdoorAct {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-column-gap: 20px;
}
    
.outdoorAct figure {
     width:100%;
     margin: auto;
    }
    
/* Adventure Tours page */
    
/* Tour form reservation */
    
.adventureTours {
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-left:5%;
    margin-right:5%;
    align-items: center;
    align-content: center;
    
}
    
/* event page */

.textImage {
    font-size: 36px;
 }
    
.event {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

#formTour, .routeMap h3 {
   text-align: center;     
}
    
.textImage {
   width:40%;    
 }
    
.fieldsetTour {
    width:60%;
    margin-left: 25%;
    
}
    
/* Store page */

.store {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
    
.store h3 {
    text-align: center;
}
    
/* Contact page */
    
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}   
   
/* Reference page */
    
 .references {
     width:50%;
     margin: auto;
}
    

  
}