    
  @media only screen and (min-width: 600px) {

      /* Header */
      
h1 {
    font-size: 2em;
}

div.motto {
    font-size: 1em;
}
      
/* Bozeman biking */
      
.trailsText {
    font-size:1rem;    
    }
    
p.contact {
     font-size:1.5rem;
     
    }
      
/* Pages links on images */
      
.linkHeading { grid-area: heading;}
.link1 { grid-area: firstlinks; }
.link2 { grid-area: secondlinks; }

.pagesLinks {
    display:grid;
    grid-template-areas:
        'heading heading heading heading'
        'firstlinks firstlinks secondlinks secondlinks';
    align-items: center;
}

.linkImage {
    width:100%;
    margin:auto;  
}
      
/*.linkHeading { grid-area: heading;}
.link1 { grid-area: firstlinks; }
.link2 { grid-area: secondlinks; }

.pagesLinks {
    display:grid;
    grid-template-areas:
        'heading heading heading heading'
        'firstlinks firstlinks secondlinks secondlinks';   
}

.linkImage {
    width:50%;
    margin:auto;  
}*/
}

