    
  @media only screen and (min-width: 600px) {

      /* Header */
      
h1 {
    font-size: 2em;
}

div.motto {
    font-size: 1em;
}
      
/* Bozeman biking */
      
.trailsText {
    font-size:1rem;    
    }
    
p.contact {
     font-size:1.5rem;
     
    }
      
/* Pages links on images */
      
.pagesLinks figure {
    display:inline;
    margin-left:15%;
 }

.pagesLinks {
    margin-top:5%;    
 }

.linkImage {
    width:25%;
    margin:auto;  
}
      
}

