    
  @media only screen and (min-width: 600px) {

      /* Header */
      
h1 {
    font-size: 2em;
}

div.motto {
    font-size: 1em;
}
      
/* Pages links on images */

.pagesLinks {
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
}

.linkImage {
    width:100%;
    margin:auto;  
}
}

